body, input, button {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 1.2em;
}

body {
    background-color: #fff;
    color: #333;
    max-width: 980px; /*Remove this to make it full screen*/
    margin: 1em auto;
}

button, input[type=submit] {
    border: 1px solid #dedede;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
}

/*#region Header */

header {
    margin: 0.7em;
    position: relative;
    z-index: -1;
}

header p {
    font-size: 2.5em;
    margin: 0;
}


.error {
    float: none;
    color: red;
    padding-left: .5em;
    vertical-align: top;
}

.validation-summary-errors {
    color: red;
    list-style: none;
    width: 220px;
    font-size: .8em;
}

.validation-summary-errors ul{
    padding: 0 !important;
    margin: 0 !important;
}

/*#endregion */

@media only screen and (max-width: 600px) {

    body {
        margin: .2em 0;
    }

    header {
        text-align: center;
        clear: both;
    }
}
.header-text {
    color: blue;
}

.field-validation-error
{
    color: red !important;
}
