<div>
    <a href="@Url.Action("Index","Home")">Back to Sequence Generator</a>
</div>
<header>
    <h1>Sequence Generator - User Help</h1>
</header>

<p>
    This application generates the following sequences for a given number
    <ul>
        <li>Numbers in incremental sequence of 1 starting from 1 to the number entered</li>
        <li>Even numbers from 1 to the number entered</li>
        <li>Odd numbers from 1 to the number entered</li>
        <li>Multiples of 3 (C), 5 (E) and both 3 & 5 (Z) from 1 to the number entered</li>
        <li>Fibonacci numbers starting from 1 to the number entered</li>
    </ul>
    Pl. note that the input number is restricted to accept a range of 1 to 5000.
</p>
<hr />
<p>
    To use the tool:
    <ul>
        <li>Enter a positive integer between range 1 to 5000</li>
        <li>Click "Get Sequences"</li>
        <li>The sequences mentioned above will be displayed as a comma seperated list</li>
    </ul>
</p>

